<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<script>
    // let person ={
    //     name:'张三',
    //     age:18
    // }
    // let person ={
    //     name:'张三',
    //     age:18
    // }
    let person ={
        name:'张三',
        age:18
    }

    //模拟vue2中响应式
    // let p={}
    // Object.defineProperty(P,'name',{
    //     get(){
    //         return person.name
    //     },
    //     set(value){
    //         console.log('name修改了');
    //         person.name=value
    //     }
    // })
    // Object.defineProperty(P,'age',{
    //     configurable:true,
    //     get(){
    //         return person.age
    //     },
    //     set(value){
    //         console.log('age修改了');
    //         person.age=value
    //     }
    // })

    // let p={}
    // Object.defineProperty(P,'name',{
    //     get(){
    //         return person.name
    //     },
    //     set(value){
    //         console.log('name修改了');
    //         person.name=value
    //     }
    // })
    // Object.defineProperty(P,'age',{
    //     configurable:true,
    //     get(){
    //         return person.age
    //     },
    //     set(value){
    //         console.log('age修改了');
    //         person.age=value
    //     }
    // })
    // let p={}
    // Object.defineProperty(P,'name',{
    //     get(){
    //         return person.name
    //     },
    //     set(value){
    //         console.log('name修改了');
    //         person.name=value
    //     }
    // })
    // Object.defineProperty(P,'age',{
    //     configurable:true,
    //     get(){
    //         return person.age
    //     },
    //     set(value){
    //         console.log('age修改了');
    //         person.age=value
    //     }
    // })

    
    // vue3的响应式

        // const p= new Proxy(person,{
        //     get(target,propName){
        //         console.log('读取');
        //         return Reflect.get(target,propName)
        //     },
        //     set(target,propName,value){
        //         console.log('修改');
        //         Reflect.set(target,propName,value)
        //     },
        //     deleteProperty(target,propName){
        //         console.log('删除');
        //         return Reflect.defineProperty(target,propName)
        //     }
        // })

        // const p= new Proxy(person,{
        //     get(target,propName){
        //         console.log('读取');
        //         return Reflect.get(target,propName)
        //     },
        //     set(target,propName,value){
        //         console.log('修改');
        //         Reflect.set(target,propName,value)
        //     },
        //     deleteProperty(target,propName){
        //         console.log('删除');
        //         return Reflect.defineProperty(target,propName)
        //     }
        // })

        const p= new Proxy(person,{
            get(target,propName){
                console.log('读取');
                return Reflect.get(target,propName)
            },
            set(target,propName,value){
                console.log('修改');
                Reflect.set(target,propName,value)
            },
            deleteProperty(target,propName){
                console.log('删除');
                return Reflect.defineProperty(target,propName)
            }
        })

</script>