<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../day10/js/vue.js"></script>
</head>
<body>
    <div id="add">
        <!-- <button @click="add">添加一个老六</button>
        <ul>
            <li v-for="item,index of persons":key="index" >
                {{item.name}} - --{{item.age}}
                <input type="text" >
            </li>
        </ul> -->



        <!-- <button @click="add">添加一个老六</button>
        <ul>
            <li v-for="item,index of persons":key="index" >
                {{item.name}} - --{{item.age}}
                <input type="text" >
            </li>
        </ul> -->


        <!-- <button @click="add">添加一个老六</button>
        <ul>
            <li v-for="item,index of persons":key="index" >
                {{item.name}} - --{{item.age}}
                <input type="text" >
            </li>
        </ul> -->
    </div>
</body>
</html>

<script>
    //  new Vue({
    //     el: '#add',
    //     data: {
    //         persons:[
    //             {id:'001',name:'张三',age:18},
    //             {id:'001',name:'李四',age:19},
    //             {id:'001',name:'王五',age:20},
    //         ],
    //     },
    //     methods: {
    //        add(){
    //         const p ={id:'004',name:'老六',age:40}
    //         this.persons.unshift(p)
    //        }
    //     },
    // })


    // new Vue({
    //     el: '#add',
    //     data: {
    //         persons:[
    //             {id:'001',name:'张三',age:18},
    //             {id:'001',name:'李四',age:19},
    //             {id:'001',name:'王五',age:20},
    //         ],
    //     },
    //     methods: {
    //        add(){
    //         const p ={id:'004',name:'老六',age:40}
    //         this.persons.unshift(p)
    //        }
    //     }, 
    // })


    new Vue({
        el: '#add',
        data: {
            persons:[
                {id:'001',name:'张三',age:18},
                {id:'001',name:'李四',age:19},
                {id:'001',name:'王五',age:20},
            ],
        },
        methods: {
           add(){
            const p ={id:'004',name:'老六',age:40}
            this.persons.unshift(p)
           }
        },
        
    })
</script>