<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../day10//js//vue.js"></script>
</head>

<body>
    <div id="add">
        <!-- <div>姓<input type="text" v-model:value="fillname"></div>
        <div>名<input type="text" v-model="tow"></div>
        <div>姓名<input type="text" v-model="fullName"></div> -->
        <!-- <div>{{handleFullName()}}</div> -->

        <!-- <div>姓<input type="text" v-model:value="fillname"></div>
        <div>名<input type="text" v-model="tow"></div>
        <div>姓名<input type="text" v-model="fullName"></div> -->


        <!-- <div>姓<input type="text" v-model:value="fillname"></div>
        <div>名<input type="text" v-model="tow"></div>
        <div>姓名<input type="text" v-model="fullName"></div> -->
    </div>
</body>

</html>

<script>
    // new Vue({
    //     el: '#add',
    //     data: {
    //         fillname: '奥',
    //         tow: '特曼',
    //         fullName: ''
    //     },
    //     watch: {
    //         fillname: {
    //             handler(newValue, oldValue) {
    //                 this.fullName = newValue + '-' + this.tow
    //             }
    //         },
    //         tow: {
    //             handler(newValue, oldValue) {
    //                 this.fullName = this.fillname + '-' + newValue
    //             }
    //         },
    //         fullName: {
    //             immediate:true,
    //             handler(newValue, oldValue) {
    //                 console.log(newValue, oldValue);
    //                 if(!newValue && !oldValue){
    //                     this.fullName=this.fillname + '-' +this.tow
    //                 }
    //                 else{
    //                     let result = newValue.split('-')
    //                     this.fillname = result[0]
    //                     this.tow = result[1]
    //                     this.fullName=this.fillname+ '-' +this.tow
    //                 }
                    
    //             }
    //         }
    //     }
    // })


    // new Vue({
    //     el: '#add',
    //     data: {
    //         fillname: '奥',
    //         tow: '特曼',
    //         fullName: ''
    //     },
    //     watch: {
    //         fillname: {
    //             handler(newValue, oldValue) {
    //                 this.fullName = newValue + '-' + this.tow
    //             }
    //         },
    //         tow: {
    //             handler(newValue, oldValue) {
    //                 this.fullName = this.fillname + '-' + newValue
    //             }
    //         },
    //         fullName: {
    //             immediate:true,
    //             handler(newValue, oldValue) {
    //                 console.log(newValue, oldValue);
    //                 if(!newValue && !oldValue){
    //                     this.fullName=this.fillname + '-' +this.tow
    //                 }
    //                 else{
    //                     let result = newValue.split('-')
    //                     this.fillname = result[0]
    //                     this.tow = result[1]
    //                     this.fullName=this.fillname+ '-' +this.tow
    //                 }
                    
    //             }
    //         }
    //     }
    // })


    new Vue({
        el: '#add',
        data: {
            fillname: '奥',
            tow: '特曼',
            fullName: ''
        },
        watch: {
            fillname: {
                handler(newValue, oldValue) {
                    this.fullName = newValue + '-' + this.tow
                }
            },
            tow: {
                handler(newValue, oldValue) {
                    this.fullName = this.fillname + '-' + newValue
                }
            },
            fullName: {
                immediate:true,
                handler(newValue, oldValue) {
                    console.log(newValue, oldValue);
                    if(!newValue && !oldValue){
                        this.fullName=this.fillname + '-' +this.tow
                    }
                    else{
                        let result = newValue.split('-')
                        this.fillname = result[0]
                        this.tow = result[1]
                        this.fullName=this.fillname+ '-' +this.tow
                    }
                    
                }
            }
        }
    })
</script>