<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../day10//js//vue.js"></script>
</head>
<body>
    <div id="add">
        <!-- <div>姓<input type="text" v-model:value="fillname"></div>
        <div>名<input type="text" v-model="tow"></div>
        <div>姓名<input type="text" v-model="fullName"></div> -->

        <!-- <div>姓<input type="text" v-model:value="fillname"></div>
        <div>名<input type="text" v-model="tow"></div>
        <div>姓名<input type="text" v-model="fullName"></div> -->


        <div>姓<input type="text" v-model:value="fillname"></div>
        <div>名<input type="text" v-model="tow"></div>
        <div>姓名<input type="text" v-model="fullName"></div>
    </div>
</body>
</html>

<script>

    // new Vue({
    //     el:'#add',
    //     data:{
    //         fillname:'奥',
    //         tow:'特曼'
    //     },
    //     computed:{
    //         // 完整写法
    //         // fullName:{
    //         //     get:function(){
    //         //         console.log('我是被读取的');
    //         //         return this.fillname+'-'+this.tow
    //         //     },
    //         //     set:function(val){
    //         //         console.log('我是被设置的');
    //         //         let result =val.split('-')
    //         //         this.fillname=result[0]
    //         //         this.tow=result[1]
    //         //     }
    //         // }
    //         //简写
    //         fullName(){
    //             console.log('我是被读取的');
    //             return this.fillname+'-'+this.tow
    //         }
    //     }
    // })

    // new Vue({
    //     el:'#add',
    //     data:{
    //         fillname:'奥',
    //         tow:'特曼'
    //     },
    //     computed:{
    //         // 完整写法
    //         // fullName:{
    //         //     get:function(){
    //         //         console.log('我是被读取的');
    //         //         return this.fillname+'-'+this.tow
    //         //     },
    //         //     set:function(val){
    //         //         console.log('我是被设置的');
    //         //         let result =val.split('-')
    //         //         this.fillname=result[0]
    //         //         this.tow=result[1]
    //         //     }
    //         // }

    //         //简写
    //         fullName(){
    //             console.log('我是被读取的');
    //             return this.fillname+'-'+this.tow
    //         }
    //     }
    // })


    new Vue({
        el:'#add',
        data:{
            fillname:'奥',
            tow:'特曼'
        },
        computed:{
            // 完整写法
            // fullName:{
            //     get:function(){
            //         console.log('我是被读取的');
            //         return this.fillname+'-'+this.tow
            //     },
            //     set:function(val){
            //         console.log('我是被设置的');
            //         let result =val.split('-')
            //         this.fillname=result[0]
            //         this.tow=result[1]
            //     }
            // }
            //简写
            fullName(){
                console.log('我是被读取的');
                return this.fillname+'-'+this.tow
            }
        }
    })
</script>