.el-form-item__content{
	display: flex !important;
	justify-content: flex-end !important;
}

/* 首页 */

.el-header{
	background-color: #373D41;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.el-container, .is-vertical{
	height: 100%;
}
.el-aside{
	height: 100%;
}
.el-menu-vertical-demo{
	height: 100%;
	background-color: #333744;
	color: #fff;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
	width: 200px;
	min-height: 400px;
}

.input-with-select{
	width: 500px !important;
}

.el-table {
	font-size: 15px;
}

.el-main{
	background-color: #ccc;
}
.box-card{
	margin-top: 20px;
}
.el-table{
	margin-top: 20px;
}
.el-tabs{
	margin-top: 20px;
}