*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(./img/xxxx.gif);
}

.title{
    width: 100%;
    height: 50px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.titleName{
    color: #fff;
    font-size: 30px;
}
.demo{
    background-color: #fff;
}
.time{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#gettime{
    color: #fff;
}


.namee{
    width: 360px;
    height: 60px;
    background-color: pink;
    position: fixed;
    right: 0;
    top: 260px;
    display: flex;
    align-items: center;
}
.txzr{
    font-size: 30px;
    line-height: 60px;
    color: #fff;
}
.name{
    font-size: 35px;
}


.btn{
    width: 100%;
    position: fixed;
    bottom: 100px;
    right: 300px;
    display: flex;
    /* margin-right: 100px; */
    justify-content: space-between;
    align-items: center;
}
.button{
    width: 100px;
    height: 50px;
    background-color: #67C23A;
    border-radius: 30px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

ul{
    position: fixed;
    bottom: 100px;
    left: 10px;
    width: 700px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}
li{
    background: linear-gradient(to right, rgb(157, 0, 255), rgb(0, 102, 128),rgb(43, 128, 0));
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
}