<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../day10/js/vue.js"></script>
</head>
<body>
    <div id="add">
        <input type="text" v-model="keyword">
        <button @click="sortType=1">年龄升序</button>
        <button @click="sortType=2">年龄降序</button>
        <button @click="sortType=0">原顺序</button>
        
        <ul>
            <li v-for="item in filPerons" :key="item.id">
                {{item.name}}-{{item.age}}-{{item.sex}}
                <input type="text">
            </li>
        </ul>
    </div>
</body>
</html>

<script>

    new Vue({
        el:'#add',
        data() {
            return {
                keyword:'',
                sortType:0,
                list:[
                    {id:0,name:'张三',age:18,sex:'男'},
                    {id:1,name:'张三三',age:20,sex:'男'},
                    {id:2,name:'泰罗',age:21,sex:'男'},
                    {id:3,name:'赛文',age:19,sex:'男'},
                    {id:4,name:'迪迦',age:17,sex:'男'},
                    {id:5,name:'老六',age:16,sex:'男'},
                ]
            }
        },
        computed:{
            filPerons(){
                const arr=this.list.filter(item=>{
                    return item.name.indexOf(this.keyword) !==-1
                })
                if(this.sortType){
                    arr.sort((item1,item2)=>{
                        return this.sortType===1? item2.age-item1.age : item1.age-item2.age
                    })
                }
                return arr
            }
        }
    })
</script>