<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../day10/js/vue.js"></script>
</head>
<body>
    <div id="add">
        <!-- <button @click="add">更新张三的信息</button>
        <ul>
            <li v-for="item in list" :key="item.id">
                {{item.name}}-{{item.sex}}--{{item.age}}
            </li>
        </ul> -->


        <button @click="add">更新张三的信息</button>
        <ul>
            <li v-for="item in list" :key="item.id">
                {{item.name}}-{{item.sex}}--{{item.age}}
            </li>
        </ul>
    </div>
</body>
</html>

<script>
    //   new Vue({
    //     el:'#add',
    //     data() {
    //         return {
    //             list:[
    //                 {id:0,name:'张三',age:18,sex:'男'},
    //                 {id:1,name:'张三三',age:20,sex:'男'},
    //                 {id:2,name:'泰罗',age:21,sex:'男'},
    //                 {id:3,name:'赛文',age:19,sex:'男'},
    //                 {id:4,name:'迪迦',age:17,sex:'男'},
    //                 {id:5,name:'老六',age:16,sex:'男'},
    //             ]
    //         }
    //     },
    //     methods: {
    //         add(){
    //             // this.list[0].name="老六啊"
    //             // this.list[0].age=199
    //             // this.list[0].sex='女'


    //             // this.list[0]={id:'0',name:'老六啊',age:20,sex:'女'}
    //             // this.list.splice(0,1,{id:'0',name:'老六啊',age:20,sex:'女'})

    //             // Vue.set(this.list,0,{id:'0',name:'老六啊',age:20,sex:'女'})
    //             this.$set(this.list,0,{id:'0',name:'老六啊',age:20,sex:'女'})
    //         }
    //     },
    // })


    new Vue({
        el:'#add',
        data() {
            return {
                list:[
                    {id:0,name:'张三',age:18,sex:'男'},
                    {id:1,name:'张三三',age:20,sex:'男'},
                    {id:2,name:'泰罗',age:21,sex:'男'},
                    {id:3,name:'赛文',age:19,sex:'男'},
                    {id:4,name:'迪迦',age:17,sex:'男'},
                    {id:5,name:'老六',age:16,sex:'男'},
                ]
            }
        },
        methods: {
            add(){
                // this.list[0].name="老六啊"
                // this.list[0].age=199
                // this.list[0].sex='女'

                // this.list[0]={id:'0',name:'老六啊',age:20,sex:'女'}
                // this.list.splice(0,1,{id:'0',name:'老六啊',age:20,sex:'女'})

                // Vue.set(this.list,0,{id:'0',name:'老六啊',age:20,sex:'女'})
                this.$set(this.list,0,{id:'0',name:'老六啊',age:20,sex:'女'})
            }
        },
    })
</script>